body{
  text-align: center;
  background: radial-gradient(circle farthest-corner at center center, #00ffe1 0%, #000000 80%);}
input {
  width: 400px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(117, 117, 117);
}

input:in-range {
  border: 2px solid greenyellow;
  background-color: greenyellow;
}

input:out-of-range {
  border: 2px solid red;
  background-color: red;
}

input:focus:in-range{
  border-color: rgb(7, 117, 16);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgb(7, 117, 16);
  outline: 0 none;
}
input:focus:out-of-range{
  border-color: rgb(117, 7, 7);
  box-shadow: 0 2px 1px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgb(117, 7, 7);
  outline: 0 none;
}
